<form method="POST" action="/figures">
  Name <input type="text" name="figure[name]" id="figure_name">

  <h2>Titles</h2>

  <% @titles.each do |title| %>
    <%= title.name %> <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value=<%= title.id %>><br>
  <% end %>

  <h2>Create New Title:</h2>
  <input type="text" name="title[name]" id="new_title">

  <h2>Landmarks</h2>

  <% @landmarks.each do |landmark| %>
    <%= landmark.name %> <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>"><br>
  <% end %>

  <h2>Create New Landmark:</h2>
  Name: <input type="text" name="landmark[name]" id="new_landmark"> Year: <input type="integer" name="landmark[year_completed]"><br><br>

  <input type="submit" value="Create New Figure">
</form>